@{
    ViewData["Title"] = "Access Denied";
    Layout = "_AuthenticationLayout";
}
<h1>Failed Add/Change Data</h1>
<div class="link-container">
    <div>
        <a asp-action="Index" asp-controller="Home">Back to Home page</a>
    </div>
</div>