@{
    ViewData["Title"] = "Login Failed";
    Layout = "_AuthenticationLayout";
}
<h1>Login Failed</h1>
<p>Your username and password are not authenticated to log in into this system.</p>
<p>Are you sure that you have been registered into the system?</p>
<p>Contact Administrator to create new account if you don't have any.</p>
<div class="link-container">
    <a asp-action="Login">Try Login Again</a>
</div>